
<h1> Notes application </h1>
<dialog #dialog>
  <div>
    <label> Note tite: </label>
    <input type="text" #titleInput>
    <label> Note content: </label>
    <input type="text" #contentInput>
    <button (click)="dialog.close()"> Cancel </button>
    <button (click)="addNote()"> Add note </button>
  </div>
</dialog>

<button mat-raised-button color="primary" (click)="dialog.showModal()">Add note</button>
<ul *ngIf="notes" class="notes">
  <div *ngFor="let note of notes">
    <mat-card>
      <mat-card-title> {{ note.title }} </mat-card-title>
      <mat-card-content> {{ note.content }}  </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteNote(note.id)"> delete note </button>
    </mat-card-actions>
    </mat-card>
    </div>
</ul>

