.note-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  justify-content: space-around;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
